@page
@model IndexModel
@{
    ViewData["Title"] = "E UCIONICA";
}

<div class="text-center">
    <h1 class="display-4">Dobrodosli na elektronsku ucionicu!</h1>
    <p>Ovde mozete pogledati  <a href="https://localhost:7093/PredmetiPage/predmet"> spisak predmeta</a>.</p>
    <p>Ovde mozete pogledati  <a href="https://localhost:7093/OblastiPage/oblast"> spisak oblasti</a>.</p>
    <p>Ovde mozete pogledati  <a href="https://localhost:7093/ZadaciPage/zadatak"> spisak zadataka</a>.</p>
    <p>Ovde mozete pogledati  <a href="https://localhost:7093/TestoviPage/test"> testove</a>.</p>
</div>
