@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Elektronska ucionica</h1>

<p>Uz pomoć elektronske učionice možete efikasno naučiti gradivo iz svih predviđenih oblasti.</p>
<p>Očekuju vas raznovrsni testovi iz svih predmeta, kao i pitanja sa različitim nivoima složenosti.</p>
